In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
os.getcwd()

'C:\\Users\\rasheen1\\Documents\\Data Science\\Python A-Z Krill Course'

In [7]:
df = pd.read_csv('census.csv')

In [112]:
df.shape

(1753, 100)

In [116]:
df1 = df[df.SUMLEV == 50]
df2 = pd.DataFrame(df1.groupby('STNAME')['CENSUS2010POP'].nlargest(3))
df3 = df2.groupby('STNAME').sum()
df3.nlargest(3, 'CENSUS2010POP')

            CENSUS2010POP
STNAME
California       15924150
Illinois          6815061
Florida           5564635

In [204]:
list1 = df.columns[9:15]
df.iloc[2]['CTYNAME']

'Baldwin County'

In [201]:
df1 = df[df.SUMLEV == 50].copy()
df1['MaxPop'] = df1[list1].max(axis = 1)
df1['MinPop'] = df1[list1].min(axis = 1)
df1['MaxDiff'] = (df1.MaxPop - df1.MinPop).abs()
#df1[df1['MaxDiff'] == df1['MaxDiff'].max()].iloc[0]['CTYNAME']
df1[(df1.MaxDiff == df1.MaxDiff.max())].iloc[0]['CTYNAME']

209    Los Angeles County
Name: CTYNAME, dtype: object

In [206]:
df1.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,MaxPop,MinPop,MaxDiff
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55347,54660,687
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,19.243286,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,203709,183193,20516
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26489,852
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512,349
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411,57776,57373,403

In [220]:
df1[((df1.REGION ==1) | (df1.REGION ==2)) &\
    (df1.CTYNAME.str.startswith('Washington')\
    & (df1.POPESTIMATE2015 > df1.POPESTIMATE2014))].loc[:, ['STNAME','CTYNAME']]
#list(df1.CTYNAME.str.startswith('Washington'))

         STNAME            CTYNAME
896        Iowa  Washington County
1419  Minnesota  Washington County